.guest-page {
  background-image: url('/assets/guest.jpg');
  background-color: #c97400;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #000000;
  background-attachment: fixed;
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); 
    z-index: -1;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-size: 24px;
}

@media (max-width: 1200px) {
  .days-list {
    width: 935px;
  }
}

@media (max-width: 991px) {
  .days-list {
    width: 695px;
  }
}

@media (max-width: 768px) {
  .guest-header .container {
    margin-inline: 8px;
    width: auto;
  }

  .container,
  .container-sm,
  .container-md {
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .days-list {
    width: 100%;
  }

  .day-item {
    &.nav__day-checked {
      padding: 12px 30px;
    }
  }

  .movie-card {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media (max-width: 430px) {
  .day-item.nav__day-checked {
      padding: 12px 5px;
  }
}