.hall-page {
  background-image: url('../../../assets/guest.jpg');
  background-color: #C97400;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #000000;
}

.buying-info {
  background: rgba(241, 235, 230, 0.95);
  padding: 15px 0;
  
  .movie-info {
    display: flex;
    flex-direction: column;
    
    .title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 9px;
    }
    
    .start {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 7px;
    }
    
    .hall-name {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-size: 24px;
}