.popup__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0 22px 30px 22px;
}

.popup__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 14px;
  margin-top: 16px;
}

.add-movie_synopsis_input {
  resize: none;
}

.admin_poster {
  margin-left: 85px;
}

.popup__add-poster_button {
  padding: 12px 30px;
  background: #16a6af;
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow:
    0 0 3px rgba(0, 0, 0, 0.12),
    0 3px 3px rgba(0, 0, 0, 0.24);
  font-size: 14px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  input[type='file'] {
    display: none;
  }

  &:hover {
    box-shadow:
      0 0 3px rgba(255, 255, 255, 0.12),
      0 3px 3px rgba(255, 255, 255, 0.24);
  }
}

.popup__poster_preview {
  margin-right: 10px;
  width: 44px;
  height: 66px;
  object-fit: cover;
  border-radius: 2px;
  border: 1px solid #b7b7b7;
}

@media (max-width: 1000px) {
  .admin_poster {
    margin-left: 0px;
  }
}
