.halls__list {
  list-style-type: none;
  margin-top: 14px;
  margin-bottom: 22px;
  padding-left: 25px;

  .halls__list_item {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::before {
      content: '–';
      position: absolute;
      left: -14px;
    }

    &.hall_item-selected {
      font-size: 15px;
      font-weight: 900;
      background: #fff;
      transform: scale(1.05);
    }

    .admin__button_remove {
      margin-left: 4px;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background: #fff;
      box-shadow:
        0px 0px 3px 0px rgba(0, 0, 0, 0.12),
        0px 3px 3px 0px rgba(0, 0, 0, 0.24);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
