.admin-header {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 1028px;
  margin: 0 auto;
  line-height: 39px;
  padding-left: 104px;
  padding-block: 35px;
  flex-direction: column;

  .header__logo {
    font-size: 34px;
    font-weight: 900;
  }

  .header__logo_letter {
    font-weight: 100;
  }

  .header__subtitle {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 5px;
  }
}
